@import "components/_prefixer";

.has-custom-shadow {
  @include text-shadow( #111 3px 3px 0);
}

.collapsible-body {
  padding: 5px;
  p{
    padding: 1rem;
  }
}

.user-list > .chip {
  margin: 10px;

}

.block {
  display: block;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.slider .slides {
  background-color: #FFFFFF;
}

.slides li {
  //border: 1px solid red;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding: 3px;
}

.sorting-asc {
  position:relative;
  background-color: #e0f2f1;
  border-radius: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  -webkit-box-shadow: 0px 2px 0px 0px #fff, inset 0px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 0px 0px #fff, inset 0px 2px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 0px 0px #fff, inset 0px 2px 5px 0px rgba(0,0,0,0.75);
    &:after {
      content: "\f139";
      font-family: FontAwesome;
      position:absolute;
      margin-left: 10px;
      color: green;
      transition: color 0.5s ease;
   }
}

.sorting-desc {
  position:relative;
  background-color: #e0f2f1;
  border-radius: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  -webkit-box-shadow: 0px 2px 0px 0px #fff, inset 0px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 0px 0px #fff, inset 0px 2px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 0px 0px #fff, inset 0px 2px 5px 0px rgba(0,0,0,0.75);
    &:after {
      content: "\f13a";
      font-family: FontAwesome;
      position:absolute;
      margin-left: 10px;
      color: red;
      transition: color 0.5s ease;
   }
}