@import "components/_prefixer";

// Can output up to ten text shadows
.has-custom-shadow {
  @include text-shadow( #111 3px 3px 0);
}


.collapsible-body {
  padding: 5px;
  p{
    padding: 1rem;
  }
}


.user-list > .chip {
  margin: 10px;

}